body,h1,h2,h3,h4
	font-family: 'Helvetica Neue', helvetica, sans-serif !important
.side-menu
	min-width: 350px
	div
		padding-left: 40px
	a 
		color: rgb(109, 109, 109);
		text-decoration: none
		font-size: 14px
		&:hover
			color: black


.code-block
	border-radius: 10px !important
	min-height: 300px


.example-wrapper
	min-width: 50%
.theming
	&-dark,&-default
		display: flex
		.code-block
			flex: 1

.example-responsive
	display: flex

main 
	padding-top: 30px


p 
	font-size: 15px